# 1. Adjust the 'ExecStart' line if required
# 2. Remove the '.sample' suffix and copy the file to '/etc/systemd/system/'
# 3. Reload systemd configuration: 'systemctl daemon-reload'
# 4. Start the service: 'systemctl start obfs4proxy-openvpn.service'
# 5. Enable the service at startup: 'systemctl enable obfs4proxy-openvpn.service'

[Unit]
Description=obfs4proxy-openvpn service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/obfs4proxy-openvpn
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
