# Do NOT use these options:
#   "proto" - will be set to tcp-client by the script
#   *proxy* - SOCKS5 proxy will be set by the script
#   "daemon" - you can use obfs4proxy-openvpn.service.sample file
#     to make a proper systemd service instead.
#   options that shouldn't be used for TCP tunneling
#   options that can't generally be used on openvpn client side

# "server" mode can also be used. config just gets slightly more complex
mode		p2p

# tun device name
dev		tun_obfs4

# Address and port of the obfs4proxy server
remote 10.11.12.13 1516

# tun device local and remote IP
ifconfig	10.1.0.2 10.1.0.1

# Optimizing TCP tunnel
socket-flags	TCP_NODELAY

# While openvpn can be run as root, it's recommended to use a non-privileged
# user for it. The user 'nobody' should be readily available on all distros
# but its better if you use a dedicated user like 'openvpn' instead.
# Furthermore, it is advised that openvpn and obfs4proxy share the same
# group on the client side (to not run into permission issues later on).
user		nobody
group		obfs4-ovpn

# We need these as we are dropping privilege
persist-tun
persist-key

# if the obfs4 cert kept secret, one may rely on obfs4 alone for
# authentication and encryption. In such case, the line below
# can be commented out. Otherwise, aside from the obfs4 cert,
# openvpn secret key must also be shared between client and server.
# It is up to you to decide on this.
secret /etc/openvpn/secret.obfs4.key 1
